.container-fluid {
    padding-right: 0px; 
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.tab {
	 overflow: hidden;
    border: 1px solid #ccc;
    background-color: coral;
}
.tab button {
    background-color: coral;
	color:
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
	font-family: Arial;
	font-weight:bold;
}
.tab button:hover {
    background-color: white;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#btn3
{
	background-color:rgba(255,0,0,0.3);
	
}
.btn1 {
	background-color: #008cba;}
.btn2{
	background-color: #f44336;}
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	right:100%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#modalbutton{
	width: 187px;
	height: 20px;
}
img {
    border: 0;
    width: 157px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: bold;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}